<%- include('template/cabecera',{tituloPagina:'Deportistas',estilo:'deportistas.css'}) %>
<%- include('template/navbar') %>
<section class="container my-5">
  <h2 class="text-center mb-4">Deportistas destacados</h2>
  <div class="row">
    <% deportistas.forEach(deportista => { %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              <%= deportista.nombres %> <%= deportista.apellidos %>
            </h5>
            <p><strong>Disciplina:</strong> <%= deportista.disciplina %></p>
            <p><strong>Logros:</strong> <%= deportista.logros %></p>
            <p><strong>Portafolio:</strong> <%= deportista.portafolio %></p>
            <p><strong>Objetivos:</strong> <%= deportista.objetivos %></p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>
  <%- include('template/footer') %>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</body>
</html>